<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">
		 <script src="https://cdn.tailwindcss.com"></script>
		<title>Sign Up</title>
	</head>
	<body class="">
		<div class="py-16">
			<div class="flex bg-white rounded-lg shadow-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl">
				<div class="hidden lg:block lg:w-1/2 bg-cover" style="background-image:url('/assets/images/register.jpg')"></div>
				<div class="w-full p-8 lg:w-1/2">
					<form method="POST" class="">
						<h2 class="text-2xl font-semibold text-gray-700 text-center">Eventbrite</h2>
						<p class="text-xl text-gray-600 text-center">Create an account</p>
						<a href="#" class="flex items-center justify-center mt-4 text-white rounded-lg shadow-md hover:bg-gray-100">
							<div class="px-4 py-3">
								<svg class="h-6 w-6" viewbox="0 0 40 40">
									<path d="M36.3425 16.7358H35V16.6667H20V23.3333H29.4192C28.045 27.2142 24.3525 30 20 30C14.4775 30 10 25.5225 10 20C10 14.4775 14.4775 9.99999 20 9.99999C22.5492 9.99999 24.8683 10.9617 26.6342 12.5325L31.3483 7.81833C28.3717 5.04416 24.39 3.33333 20 3.33333C10.7958 3.33333 3.33335 10.7958 3.33335 20C3.33335 29.2042 10.7958 36.6667 20 36.6667C29.2042 36.6667 36.6667 29.2042 36.6667 20C36.6667 18.8825 36.5517 17.7917 36.3425 16.7358Z" fill="#FFC107"/>
								</svg>
							</div>
							<h1 class="px-4 py-3 w-5/6 text-center text-gray-600 font-bold">Sign up with Google</h1>
						</a>
						<div class="mt-4 flex items-center justify-between">
							<span class="border-b w-1/5 lg:w-1/4"></span>
							<a href="#" class="text-xs text-center text-gray-500 uppercase">or sign up with email</a>
							<span class="border-b w-1/5 lg:w-1/4"></span>
						</div>

						<div class="flex items-center justify-center gap-4 py-6">
							<label class="relative cursor-pointer">
								<input type="radio" name="roleId" value="3" class="peer hidden" checked/>
								<div class="flex flex-col p-2 border-2 border-gray-200 cursor-pointer w-auto min-w-[200px] px-6 py-4 text-center text-white rounded-md shadow-lg bg-gradient-to-r from-blue-600 to-blue-500 peer-checked:from-blue-700 peer-checked:to-blue-600 hover:bg-gradient-to-b hover:shadow-2xl hover:shadow-blue-400 transition-all">
									Participant
								</div>
							</label>
							<!-- Student Button -->
							<label class="relative cursor-pointer">
								<input type="radio" name="roleId" value="2" class="peer hidden"/>
								<div class="flex flex-col p-2 border-2 border-gray-200 cursor-pointer w-auto min-w-[200px] h-auto w-auto min-w-[100px] px-6 py-4 text-center text-white bg-gray-700 rounded-md shadow-lg dark:bg-gray-600 dark:text-white peer-checked:bg-gray-900 hover:bg-gray-800 hover:shadow-2xl hover:shadow-gray-400 transition-all">
									Organizateur
								</div>
							</label>
						</div>

						<div id="register" class="">
							<div class="mt-4">
								<label class="block text-gray-700 text-sm font-bold mb-2">Full Name</label>
								<input name="username" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="text"/>
							</div>
							<div class="mt-4">
								<label class="block text-gray-700 text-sm font-bold mb-2">Email Address</label>
								<input name="email" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="email"/>
							</div>
							<div class="mt-4">
								<label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
								<input name="password" class="bg-gray-200 text-gray-700 focus:outline-none focus:shadow-outline border border-gray-300 rounded py-2 px-4 block w-full appearance-none" type="password"/>
							</div>
							<div class="mt-4">
								<select name="gender" class="w-full p-2 border rounded-lg" required>
									<option value="" disabled selected>Choisir une Gender</option>
									<option value="homme">homme</option>
									<option value="femme">femme</option>
								</select>
								<label for="gender" class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Gender</label>
							</div>
							<div class="mt-8 flex justify-center">
								<button type="submit" name="register" class="bg-orange-500 w-full text-white rounded-md px-3 py-2">Register</button>
							</div>
						</from>
						<div class="mt-4 flex items-center justify-between">
							<span class="border-b w-1/5 md:w-1/5"></span>
							<a href="/login" class="text-xs text-gray-500 uppercase">Already have an account? Login</a>
							<span class="border-b w-1/5 md:w-1/5"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
